<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="weather?.weatherIcon" class="card-img" alt="No Picture Available">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ weather?.location }}</h5>
          <p class="card-text">{{ weather?.weatherDescription }}</p>
          <p class="card-text">Temperature: {{ weather?.temperature }}</p>
          <p class="card-text">Feels Like: {{ weather?.feelsLike }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>
  